*~

.DS_Store

/pod

*/project.xcworkspace/*

*/contents.xcworkspacedata

*/xcshareddata/*

*/xcuserdata/*

Breakpoints_v2.xcbkptlist

UserInterfaceState.xcuserstate

xcschememanagement.plist

xcode_settings.bash

WorkspaceSettings.xcsettings

IDEWorkspaceChecks.plist

Pods/*

Pods